[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = furuhama
	email = furuhama@users.noreply.github.com
[core]
	editor = nvim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
	pager = less -R -F -X
	quotepath = false
[commit]
	template = ~/.gitmessage
[alias]
	openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
[rebase]
	autosquash = true
