[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = furuhama
	email = furuhama@users.noreply.github.com
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
	pager = less -R -F -X
	quotepath = false
	attributesfile = /Users/furuhama.yusuke/.gitattributes
[commit]
	template = ~/.gitmessage
[alias]
	openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
  rg = "!git ls-files | xargs rg"
	fpush = "push --force-with-lease"
[rebase]
	autosquash = true
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[ghq]
	root = ~/.go/src
	root = ~/.ghq
